# Load untracked local env overrides if present.
dotenv_if_exists .envrc.local
dotenv_if_exists .env.local

mkdir -p "$PWD/.devenv"
DEVENV_ROOT_FILE="$PWD/.devenv/root"
printf %s "$PWD" >"$DEVENV_ROOT_FILE"

use flake . --override-input devenv-root "file+file://$DEVENV_ROOT_FILE"
